<!-- Debug Information -->
<div style="display: none;">
    <!-- Debug info will be visible in page source -->
    <pre>
            Session ID: <%= locals.sessionID %>
            User object: <%= JSON.stringify(locals.user, null, 2) %>
            isAdmin type: <%= typeof locals.user?.isAdmin %>
            isAdmin value: <%= locals.user?.isAdmin %>
            isAuthenticated: <%= locals.isAuthenticated %>
            Session Cookie: <%= locals.sessionCookie %>
        </pre>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Student Submission Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/topics">Topics</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (locals.user) { %>
                    <% if (locals.user.isAdmin===true) { %>
                        <!-- Admin Navigation -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" title="Admin Dashboard">
                                <i class="bi bi-speedometer2 me-1"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users" title="User Management">
                                <i class="bi bi-people me-1"></i>Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/er-diagrams/admin/submissions" title="ER Diagram Submissions">
                                <i class="bi bi-diagram-3 me-1"></i>Submissions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" title="Profile">
                                <i class="bi bi-person me-1"></i>
                                <%= locals.user.firstName %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" title="Logout">
                                <i class="bi bi-box-arrow-right me-1"></i>Logout
                            </a>
                        </li>
                        <% } else { %>
                            <!-- Regular User Navigation -->
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">
                                    <%= locals.user.firstName %>
                                        <%= locals.user.lastName %>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <% } %>
                                <% } else { %>
                                    <!-- Guest Navigation -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/register">Register</a>
                                    </li>
                                    <% } %>
            </ul>
        </div>
    </div>
</nav>